<ng-lottie *ngIf="showLoading" [options]="options"></ng-lottie>

<div *ngIf="!showLoading">
  <h2>Aktuelle Temperatur</h2>

  <div>
    <span>{{ temperature! | formatTemperature }} °C</span>
    <span>{{ time! | formatDate }}</span>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu" xPosition="before" yPosition="above">
    <button mat-menu-item routerLink="history">
      <mat-icon>history</mat-icon>
      <span>History</span>
    </button>

    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Einstellungen</span>
    </button>
  </mat-menu>
</div>
