:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-weight: 500;
      font-size: 2em;
    }

    span:nth-child(2) {
      font-size: 4em;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      color: #fff;
      background: #91cfa1;
      outline: none;
      border-radius: 7px;
      border: none;
      cursor: pointer;
      font-size: 1.5em;
      user-select: none;

      mat-icon {
        margin: 0 .2em 0 0;
      }
    }
  }
}
