:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #temperature-wrapper {
    margin-top: 10vh;
    display: grid;

    h2 {
      grid-column-start: 1;
      grid-row-start: 1;
      grid-column-end: 1;
      grid-row-end: 1;
      font-weight: 500;
      font-size: 2em;
      margin: 0 auto 5vh;
    }

    div {
      display: flex;
      align-items: center;
      flex-direction: column;
      grid-column-start: 1;
      grid-row-start: 2;
      grid-column-end: 1;
      grid-row-end: 2;

      span:nth-child(1) {
        font-size: 4em;
        margin-bottom: 2vh;
      }
    }
  }

  button {
    position: fixed;
    right: 2vw;
    bottom: 2vh;
    color: #353535;
  }
}

@media only screen and (max-aspect-ratio: 1/1) {
  :host {
    & > div {
      height: 80%;

      h2 {
        font-size: 2.5em;
      }

      div {
        span:nth-child(1) {
          font-size: 8em;
        }

        span:nth-child(2) {
          font-size: 1.5em;
        }
      }
    }
  }
}
