:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  #history {
    margin-top: 10vh;
  }

  div {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-weight: 500;
      font-size: 2em;
      margin: 0 auto 5vh;
    }

    span:nth-child(2) {
      font-size: 4em;
    }
  }

  app-chart {
    display: block;
  }

  #backButton {
    position: fixed;
    right: 2vw;
    bottom: 2vh;
    color: #353535;
  }
}
